.app {
  text-align: center;
}

.raid-team, .battle-team {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f8ff;
}

.pokemon-slot {
  margin: 10px;
  padding: 20px;
  background-color: #b3d9ff;
  border: 1px solid #007acc;
  border-radius: 5px;
}