.main {
  text-align: center;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  color: white;
  background-color: #007acc;
  border-radius: 5px;
  text-decoration: none;
}
.team-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr); /* Adjust for 6 slots in Raid Team */
}

